<div class="fluid-container allPage">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Cadastro de Convidados</h1>
    
  </div>
</div>

  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">

          <div class="col-2">
            <p><b>Novo Cadastro:</b></p>
          </div>

          

          <div class="col">
            <input type="text" class="form-control" placeholder="Nome" [(ngModel)]="convidado.nome" />
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Email" [(ngModel)]="convidado.email" />
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="DataNasc" [(ngModel)]="convidado.dataNasc" />
          </div>
          <div class="col">
            <button (click)="salvar()" class="btn btn-primary">Salvar</button>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Email</th>
                  <th scope="col">DataNasc</th>
                  <th scope="col">Deps</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Excluir</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let convidado of convidados$; let i = index">
                  <th scope="row">{{i}}</th>
                  <td>{{convidado.nome}}</td>
                  <td>{{convidado.email}}</td>
                  <td>{{convidado.dataNasc}}</td>
                  <td><button (click)="irDependentes(convidado.id)" class="btn btn-info btn-sm"><i class="material-icons">
                    group
                    </i></button></td>
                  <td><button (click)="editar(convidado.id)" class="btn btn-warning btn-sm"><i class="material-icons">
                    edit
                    </i></button></td>
                  <td> <button (click)="deletar(convidado.id)" class="btn btn-danger btn-sm"><i class="material-icons">
                    delete_sweep
                    </i></button></td>
                </tr>

                
               
              </tbody>
            </table>
        </div>
        </div>
      </div>
    </div>

  
</div>
</div>