<div class="fluid-container allPage">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Dependentes do {{convidado$.nome}}</h1>
        
      </div>
    </div>
    
    <div class="container">
      <button class="btn btn-primary" (click)="voltarConvidado()"> Voltar</button> 
      <p style="color:red"><b> {{msg}}</b></p>
        <div class="card">
          <div class="card-body">
            <form>
            <div class="row">
    
              
              <div class="col-2">
                <p><b>Novo Dependente:</b></p>
              </div>
              
              <div class="col">
                <input type="text" class="form-control" name="nome" placeholder="Nome" [(ngModel)]="dependenteInput.nome" />
              </div>
              <div class="col">
                <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="dependenteInput.email" />
              </div>
              <div class="col">
                <input type="text"
                      placeholder="DataNasc"
                      class="form-control"
                      name="dataNasc"
                      bsDatepicker
                      [(ngModel)]="dependenteInput.dataNasc"
                      [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"> 
              </div>
              <select [(ngModel)]="dependenteInput.tipoDependente" name="tipo" class="form-control col" required>
                
                <option [ngValue]="1" >Filho(a)</option>
                <option [ngValue]="2">Cônjuge</option>
                <option [ngValue]="3">Secretaria(o)</option>
            </select>
            
              
              <div class="col">
                <button type="submit" (click)="salvar()" class="btn btn-primary">Salvar</button>
              </div>
            </div>
          </form>
    
            <br>
    
            <div class="row">
              <div class="col">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">user</th>
                      <th scope="col">Relacao</th>
                      <th scope="col">Editar</th>
                      <th scope="col">Excluir</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dependente of convidado$.dependentes">
                      <th scope="row">{{dependente.id}}</th>
                      <td>{{dependente.nome}}</td>
                      <td>{{dependente.email}}</td>
                      <td>{{mostraData(dependente.dataNasc)}}</td>
                      <td>{{mostraRelacao(dependente.tipoDependente)}}</td>
                      <td><button (click)="editar(dependente.id)" class="btn btn-warning btn-sm"><i class="material-icons">
                        edit
                        </i></button></td>
                      <td> <button (click)="excluir(dependente.id)" class="btn btn-danger btn-sm"><i class="material-icons">
                        delete_sweep
                        </i></button></td>
                    </tr>
    
                   
                   
                  </tbody>
                </table>
            </div>
            </div>
          </div>
        </div>
    
      
    </div>
    </div>